<div fxLayout="column">
  <mat-toolbar *ngIf="!checkIfChosen()" color="accent" fxLayoutAlign="space-between center">
    <h1>{{list.name}}</h1>
    <div fxLayoutGap="16px">
      <button *ngIf="!checkIfChosen()" mat-raised-button (click)="onAdd()">
        Add product
        <mat-icon color="primary">add</mat-icon>
      </button>
      <button *ngIf="!checkIfChosen()" mat-raised-button (click)="onBin()">
        Delete list
        <mat-icon color="primary">delete</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-toolbar *ngIf="!checkIfChosen()" fxLayoutAlign="space-between center">
    Share code: {{list.share_code}}
  </mat-toolbar>
  <div fxLayout="row" *ngIf="!checkIfChosen()">
    <button fxFlex="10" mat-raised-button disabled>Category</button>
    <button fxFlex="80" mat-raised-button disabled>Product Name</button>
    <button fxFlex="10" mat-raised-button disabled></button>
  </div>
  <div fxFill fxLayout="column" *ngFor="let product of list.list_content">
    <div fxLayout="row">
      <mat-card fxFlex="10" fxLayoutAlign="center">{{product.category_name}}</mat-card>
      <mat-card fxFlex="80" fxLayoutAlign="center" >{{product.product_name}}</mat-card>
      <button fxFlex="10" mat-raised-button color="primary" (click)="onDelete(product.id.toString())">
        Delete product
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
<div fxFill fxLayout="column" *ngIf="checkIfChosen()" fxLayoutAlign="center center">
  <p>Choose a list to see it's content here.</p>
</div>

