<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
<h1>Create new list</h1>
  <mat-form-field>
    <label>Enter name for the list</label>
    <input matInput [(ngModel)]="listCreateRequest.name">
    <button matSuffix mat-icon-button disabled></button>
  </mat-form-field>
  <div fxLayoutGap="16px" fxLayout="row">
    <button fxLayoutAlign="center" mat-raised-button (click)="onCreate()" type="submit">Create</button>
    <button fxLayoutAlign="center" mat-raised-button (click)="onClose()">Cancel</button>
  </div>
</div>
