<div fxFill fxLayout="column" fxLayoutGap="2px">
  <mat-card fxLayout="column" fxFlex="15" fxLayoutGap="8px">
    <button mat-raised-button color="primary" (click)="onCreate()">Create List</button>
    <button mat-raised-button color="primary" (click)="onJoin()">Join List</button>
  </mat-card>
  <mat-card fxLayout="column" fxFlex="85" fxLayoutGap="8px">
    <div *ngFor="let list of lists" fxLayoutAlign="center">
      <button mat-raised-button color="accent" (click)="onList(list)" >{{list.name}}</button>
    </div>
  </mat-card>
</div>
